version: '3'
services:
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_PASSWORD=postgres_password
  redis:
    image: 'redis:latest'
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    image: ${DOCKER_USERNAME}/my-nginx:${IMAGE_TAG:-latest}
    ports:
      - '80:80'
  api:
    build:
      dockerfile: Dockerfile
      context: ./server
    image: ${DOCKER_USERNAME}/my-api:${IMAGE_TAG:-latest}
    volumes:
      - /app/node_modules
      - ./server:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
      - PGPORT=5432
  client:
    environment:
      - WDS_SOCKET_PORT=0
    build:
      dockerfile: Dockerfile
      context: ./client
    image: ${DOCKER_USERNAME}/my-client:${IMAGE_TAG:-latest}
    volumes:
      - /app/node_modules
      - ./client:/app
  worker:
    build:
      dockerfile: Dockerfile
      context: ./worker
    image: ${DOCKER_USERNAME}/my-worker:${IMAGE_TAG:-latest}
    volumes:
      - /app/node_modules
      - ./worker:/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
