name: Deploy MultiDocker
on:
  workflow_dispatch:
  push:
    branches:
      - main # check your repo, your default branch might be master!

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/react-test-up -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true ${{ secrets.DOCKER_USERNAME }}/react-test-up npm test

      # - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-client-up ./client
      # - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-nginx-up ./nginx
      # - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-server-up ./server
      # - run: docker build -t ${{ secrets.DOCKER_USERNAME }}/multi-worker-up ./worker
      - run: docker-compose -f docker-compose.yml build

      # - run: docker push ${{ secrets.DOCKER_USERNAME }}/multi-client-up
      # - run: docker push ${{ secrets.DOCKER_USERNAME }}/multi-nginx-up
      # - run: docker push ${{ secrets.DOCKER_USERNAME }}/multi-server-up
      # - run: docker push ${{ secrets.DOCKER_USERNAME }}/multi-worker-up

      - run: docker-compose -f docker-compose.yml push

      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: multi-docker
          environment_name: Multi-docker-env
          existing_bucket_name: elasticbeanstalk-ap-south-1-376505902044
          region: ap-south-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
